/*              PC        */

/* áp dụng cho màn hình có chiều rộng 992px trở lên */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* máy tính bang và điện thoại di động */
@media (max-width: 991.98px) {
  /* 1.navbar  */
  .navbar {
    display: none;
  }
  /* 2. chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /*3. căn lại vị trí cho menu icon */
  /* menu mobile */

  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    width: 24px;
    color: #fff;
  }

  /* 4. overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    /* cách 0 ở 4 hướng  viet tắt*/
    inset: 0;
    z-index: 1;
    /* trong suất hoàn toàn */
    opacity: 0;
    /* ẩn khỏi giao diện   */
    visibility: hidden;
    transition-duration: 0.5s;
  }

  /* 5. kiểm tra xem menu có dc check hay không */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    /* để nhìn thấy overlay */
    visibility: visible;
  }

  /*code cho menu - drawer */
  .menu-drawer {
    position: fixed;
    inset: 0 40px 0 0;
    width: 60%;
    background-color: #2e1919;
    z-index: 2;
    transform: translateX(-100%);
    transition-duration: 0.65s;
    padding: 60px;
  }
  /* khi đã check vào hiện lại menu*/
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* 8. menu top*/
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
    border-radius: 10px;
  }
  /* khối hero */
  .hero {
    flex-direction: column;
    gap: 50px;
  }
  .hero__container {
    order: 2;
  }
  .hero__media {
    order: 1;
  }

  .hero__container {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }

  .hero__row {
    justify-content: center;
  }

  /* khối service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }

  .service__img {
    width: 100%;
  }
  .service__list {
    text-align: center;
  }
  .service-item {
    width: 90%;
    text-align: start;
  }

  /* word list */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* about */
  .about__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__media {
    width: 100%;
  }
  /* ẩn ảnh nhỏ  */
  .about__img--small {
    display: none;
  }

  /* phóng to ảnh lớn */
  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }

  .about-content {
    width: 90%;
    text-align: center;
  }
}

/* máy tính bảng */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media (max-width: 767.98px) {
}

/* tạm ẩn phần không liên quan*/

.footer {
  display: none;
}
